body{
    background: rgb(235, 235, 137);
    padding:20px
}

h1{
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    border: 4px dotted black;
    padding: 20px;
    width: 200px;
}

label{
    font-weight: bold;
    margin-bottom: 10px;

}
input{
    margin-bottom: 20px;
}

#enviar{
    padding: 10px 5px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

a{
    text-decoration: none;
    margin-top: 30px;
    background-color:#2e2e2e;
    padding: 10px 15px;
    border-radius: 5px;
    color: white
}

#enviar:hover{
    background-color: rgb(61, 59, 59);
    cursor:pointer;
    border-radius: 5px;
}