body{
    background: rgb(235, 235, 137);
    padding:20px
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    margin-top: 30px;
    background-color:#2e2e2e;
    padding: 10px 15px;
    border-radius: 5px;
    color: white
}

#contenedor-imagenes{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap:5px
}

img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

img:hover{
    border: 2px solid red;
}